.App {
  display: flex;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(185, 179, 179);
  width: 400px;

}

.Header{
  border-style: solid;
  height: 150px;
  width: 100%;
}

.Exchange{
  border-style: solid;
  height: 400px;
  width: 100%;
  justify-content: space-evenly;
}

.Update{
  border-style: solid;
  height: auto;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button{
  
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:0.5em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  text-align:center;
  transition: all 0.2s;
  background-color:rgb(0, 132, 255);
  font-size: 15px;
  outline: none;
}
button:hover{
  cursor: pointer;
  border-color: lightblue

}
button:active{
transform: translateY(2px) ;
}


input ,textarea, select{
    outline: none;
    padding: 0;
    border: 1;
    border-radius:0.5em;
    text-align: center;
    width: 100px;
    height: 25px;
    font-size: 15px;
    outline: none;
    background-color: rgb(0, 132, 255);

}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 10px;
}
select{
  text-align-last: center;
  
}